<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>N</key>
	<array>
		<dict>
			<key>name</key>
			<string>宁学成</string>
			<key>phone</key>
			<string>15214662964</string>
			<key>hobby</key>
			<string>吃喝玩乐</string>
			<key>photo</key>
			<string>44.jpg</string>
		</dict>
	</array>
	<key>G</key>
	<array>
		<dict>
			<key>name</key>
			<string>高赫</string>
			<key>phone</key>
			<string>18686726917</string>
			<key>hobby</key>
			<string>暂无</string>
			<key>photo</key>
			<string>52.jpg</string>
		</dict>
	</array>
	<key>Z</key>
	<array>
		<dict>
			<key>phone</key>
			<string>13944686625</string>
			<key>hobby</key>
			<string>玩</string>
			<key>photo</key>
			<string>60.jpg</string>
			<key>name</key>
			<string>曾斌</string>
		</dict>
		<dict>
			<key>name</key>
			<string>周云霓</string>
			<key>phone</key>
			<string>18802496731</string>
			<key>hobby</key>
			<string>动漫</string>
			<key>photo</key>
			<string>54.jpg</string>
		</dict>
	</array>
	<key>Q</key>
	<array>
		<dict>
			<key>name</key>
			<string>钱程</string>
			<key>phone</key>
			<string>15524863375</string>
			<key>hobby</key>
			<string>玩</string>
			<key>photo</key>
			<string>68.jpg</string>
		</dict>
	</array>
	<key>P</key>
	<array>
		<dict>
			<key>phone</key>
			<string>13842837425</string>
			<key>hobby</key>
			<string>sleep</string>
			<key>photo</key>
			<string>66.jpg</string>
			<key>name</key>
			<string>潘德文</string>
		</dict>
	</array>
	<key>L</key>
	<array>
		<dict>
			<key>name</key>
			<string>柳洪飞</string>
			<key>phone</key>
			<string>15524716874</string>
			<key>hobby</key>
			<string>篮球</string>
			<key>photo</key>
			<string>11.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>刘啸天</string>
			<key>phone</key>
			<string>7487487474748</string>
			<key>hobby</key>
			<string>玩</string>
			<key>photo</key>
			<string>45.jpg</string>
		</dict>
		<dict>
			<key>phone</key>
			<string>18645274485</string>
			<key>hobby</key>
			<string>吃</string>
			<key>photo</key>
			<string>65.jpg</string>
			<key>name</key>
			<string>刘帅</string>
		</dict>
		<dict>
			<key>name</key>
			<string>刘俊泽</string>
			<key>phone</key>
			<string>17741169094</string>
			<key>hobby</key>
			<string>玩</string>
			<key>photo</key>
			<string>62.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>刘国龙</string>
			<key>phone</key>
			<string>1666666666</string>
			<key>hobby</key>
			<string>看</string>
			<key>photo</key>
			<string>37.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>刘旺辉</string>
			<key>phone</key>
			<string>15524716814</string>
			<key>hobby</key>
			<string>LOL</string>
			<key>photo</key>
			<string>10.jpg</string>
		</dict>
	</array>
	<key>Y</key>
	<array>
		<dict>
			<key>name</key>
			<string>杨雪剑</string>
			<key>phone</key>
			<string>14740595322</string>
			<key>hobby</key>
			<string>网球</string>
			<key>photo</key>
			<string>58.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>于洪洋</string>
			<key>phone</key>
			<string>13478910204</string>
			<key>hobby</key>
			<string>台球</string>
			<key>photo</key>
			<string>65.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>俞明</string>
			<key>phone</key>
			<string>15776834305</string>
			<key>hobby</key>
			<string> BeautyLeg </string>
			<key>photo</key>
			<string>51.jpg</string>
		</dict>
	</array>
	<key>M</key>
	<array>
		<dict>
			<key>name</key>
			<string>马兴晨</string>
			<key>phone</key>
			<string>17741168947</string>
			<key>hobby</key>
			<string>吃</string>
			<key>photo</key>
			<string>63.jpg</string>
		</dict>
	</array>
	<key>H</key>
	<array>
		<dict>
			<key>name</key>
			<string>韩科泽</string>
			<key>phone</key>
			<string>14740595643</string>
			<key>hobby</key>
			<string>看电影</string>
			<key>photo</key>
			<string>59.jpg</string>
		</dict>
	</array>
	<key>W</key>
	<array>
		<dict>
			<key>name</key>
			<string>吴海涛</string>
			<key>phone</key>
			<string>17741168916</string>
			<key>hobby</key>
			<string>电子游戏</string>
			<key>photo</key>
			<string>38.jpg</string>
		</dict>
	</array>
	<key>T</key>
	<array>
		<dict>
			<key>name</key>
			<string>陶芳</string>
			<key>phone</key>
			<string>18799999999</string>
			<key>hobby</key>
			<string>看电视</string>
			<key>photo</key>
			<string>67.jpg</string>
		</dict>
	</array>
	<key>C</key>
	<array>
		<dict>
			<key>name</key>
			<string>陈金钰</string>
			<key>phone</key>
			<string>15042932008 </string>
			<key>hobby</key>
			<string>玩游戏</string>
			<key>photo</key>
			<string>20.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>陈玮光</string>
			<key>phone</key>
			<string>15104591733</string>
			<key>hobby</key>
			<string>lol</string>
			<key>photo</key>
			<string>12.jpg</string>
		</dict>
	</array>
	<key>S</key>
	<array>
		<dict>
			<key>name</key>
			<string>孙贻鹏</string>
			<key>phone</key>
			<string>15524800654</string>
			<key>hobby</key>
			<string>dota</string>
			<key>photo</key>
			<string>40.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>宋平</string>
			<key>phone</key>
			<string>18634012324</string>
			<key>hobby</key>
			<string>旅游</string>
			<key>photo</key>
			<string>61.jpg</string>
		</dict>
	</array>
</dict>
</plist>
