<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UI_分区练习.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>498789E81C2D409F0094AF32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49878A011C2D409F0094AF32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49878A0C1C2D409F0094AF32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
